.App {
  display: block;
}

.header-bar {
  width: 100%;
  background-color: aquamarine;
  padding: 20px;
}

.app-content {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.search-field {
}

.reservation-form {
}
